{{#view "section" class="p2"}}
    <article>
        <div class="h1">Команда</div>
        <div class="users">
    {{#each user in model}}
        <div class="usr">
            <a class="usr_av"  {{bind-attr href=user.github}} target="_blank">
            <img {{bind-attr src=user.avatar}}>
            </a>
            <div>
                <a class="usr_name" {{bind-attr href=user.github}} target="_blank"> {{user.nick_name}} </a>
                <a class="usr_git"  {{bind-attr href=user.github}} target="_blank">profile</a>
                <div class="usr_commits">
                    {{user.total_commits}} коммитов
                </div>

            </div>

        </div>
    {{/each}}
        </div>
    </article>
{{/view}}